In [1]:
#pandas----used for managing data
#series---each column of a dataframe
#dataframe----madeup of several series

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
#series
mylist=[5.4,6.1,1.7,99.8]
myarray=np.array(mylist)

In [5]:
myseries1=pd.Series(data=mylist)
print(myseries1)

0     5.4
1     6.1
2     1.7
3    99.8
dtype: float64

In [6]:
myseries2=pd.Series(data=myarray)
print(myseries2)

0     5.4
1     6.1
2     1.7
3    99.8
dtype: float64

In [7]:
print(myseries2[0])

5.4

In [8]:
print(myseries2[2])

1.7

In [9]:
mylabels=['a','b','c','d']
myseries3=pd.Series(data=mylist,index=mylabels)

In [10]:
print(myseries3)

a     5.4
b     6.1
c     1.7
d    99.8
dtype: float64

In [11]:
print(myseries3['a'])

5.4

In [12]:
myseries4=pd.Series(mylist,mylabels)
print(myseries4)

a     5.4
b     6.1
c     1.7
d    99.8
dtype: float64

In [13]:
myseries5=pd.Series([5.5,1.1,8.8,1.6],['a','b','x','y'])

In [14]:
print(myseries5)

a    5.5
b    1.1
x    8.8
y    1.6
dtype: float64

In [15]:
print(myseries4+myseries5)

a    10.9
b     7.2
c     NaN
d     NaN
x     NaN
y     NaN
dtype: float64

In [16]:
#combine series
#combine series horizontally

In [17]:
s=pd.concat([myseries4,myseries5],axis=0)

In [18]:
print(s)

a     5.4
b     6.1
c     1.7
d    99.8
a     5.5
b     1.1
x     8.8
y     1.6
dtype: float64

In [19]:
#combine series vertically-----dataframe

In [20]:
df1=pd.concat([myseries4,myseries5],axis=1)

In [21]:
print(df1)

      0    1
a   5.4  5.5
b   6.1  1.1
c   1.7  NaN
d  99.8  NaN
x   NaN  8.8
y   NaN  1.6

In [22]:
df2=pd.DataFrame(np.random.randn(5,5))

In [23]:
print(df2)

          0         1         2         3         4
0  0.998278  1.278624  0.081904  0.074850  1.087340
1  1.003639  0.456240  1.474192 -0.835701 -1.641423
2 -0.939263 -0.379669  0.470688  0.803662 -0.382542
3  0.551415 -0.168326  0.558843 -0.830839  0.430822
4  0.996714  0.818552 -0.627319 -0.660517  1.447155

In [24]:
df3=pd.DataFrame(np.random.randn(5,5),index=['row0','row1','row2',
                                            'row3','row4'],columns=
                ['col0','col1','col2','col3','col4'])

In [25]:
print(df3)

          col0      col1      col2      col3      col4
row0  0.042410 -0.713718 -1.116744  0.849665 -0.032730
row1  0.240375  0.366118  2.336399 -0.107381 -1.028551
row2  0.024681 -2.487480  0.788173  0.728980  0.035637
row3  1.139447 -0.276028  0.308844 -0.475283  0.150669
row4  0.207571 -0.707920  0.370586  0.285517  2.266225

In [26]:
#access series from data/access individual column from data frame

In [27]:
print(df3['col0']) #access column

row0    0.042410
row1    0.240375
row2    0.024681
row3    1.139447
row4    0.207571
Name: col0, dtype: float64

In [28]:
print(df3[['col0','col3','col1']]) #access multiple column

          col0      col3      col1
row0  0.042410  0.849665 -0.713718
row1  0.240375 -0.107381  0.366118
row2  0.024681  0.728980 -2.487480
row3  1.139447 -0.475283 -0.276028
row4  0.207571  0.285517 -0.707920

In [29]:
print(df3.loc['row0']) #access row

col0    0.042410
col1   -0.713718
col2   -1.116744
col3    0.849665
col4   -0.032730
Name: row0, dtype: float64

In [30]:
print(df3.iloc[0]) #access row

col0    0.042410
col1   -0.713718
col2   -1.116744
col3    0.849665
col4   -0.032730
Name: row0, dtype: float64

In [32]:
print(df3.loc[['row0','row4','row3','row1']])

          col0      col1      col2      col3      col4
row0  0.042410 -0.713718 -1.116744  0.849665 -0.032730
row4  0.207571 -0.707920  0.370586  0.285517  2.266225
row3  1.139447 -0.276028  0.308844 -0.475283  0.150669
row1  0.240375  0.366118  2.336399 -0.107381 -1.028551

In [33]:
#Logical indexing

In [34]:
print(df3[df3>0])

          col0      col1      col2      col3      col4
row0  0.042410       NaN       NaN  0.849665       NaN
row1  0.240375  0.366118  2.336399       NaN       NaN
row2  0.024681       NaN  0.788173  0.728980  0.035637
row3  1.139447       NaN  0.308844       NaN  0.150669
row4  0.207571       NaN  0.370586  0.285517  2.266225

In [35]:
df3['col5']=np.random.randn(5,1) #adding column to data frame

In [36]:
print(df3)

          col0      col1      col2      col3      col4      col5
row0  0.042410 -0.713718 -1.116744  0.849665 -0.032730 -0.303801
row1  0.240375  0.366118  2.336399 -0.107381 -1.028551  0.730418
row2  0.024681 -2.487480  0.788173  0.728980  0.035637  0.391909
row3  1.139447 -0.276028  0.308844 -0.475283  0.150669  0.301340
row4  0.207571 -0.707920  0.370586  0.285517  2.266225 -0.080021

In [37]:
df3.drop('col0',axis=1) #deleting column from data frame

          col1      col2      col3      col4      col5
row0 -0.713718 -1.116744  0.849665 -0.032730 -0.303801
row1  0.366118  2.336399 -0.107381 -1.028551  0.730418
row2 -2.487480  0.788173  0.728980  0.035637  0.391909
row3 -0.276028  0.308844 -0.475283  0.150669  0.301340
row4 -0.707920  0.370586  0.285517  2.266225 -0.080021

In [38]:
print(df3) #col0 is present in original data frame

          col0      col1      col2      col3      col4      col5
row0  0.042410 -0.713718 -1.116744  0.849665 -0.032730 -0.303801
row1  0.240375  0.366118  2.336399 -0.107381 -1.028551  0.730418
row2  0.024681 -2.487480  0.788173  0.728980  0.035637  0.391909
row3  1.139447 -0.276028  0.308844 -0.475283  0.150669  0.301340
row4  0.207571 -0.707920  0.370586  0.285517  2.266225 -0.080021

In [39]:
df3.drop('col0',axis=1,inplace=True) #removing column from original df

In [40]:
print(df3) #will reflect the change in original data frame (df)

          col1      col2      col3      col4      col5
row0 -0.713718 -1.116744  0.849665 -0.032730 -0.303801
row1  0.366118  2.336399 -0.107381 -1.028551  0.730418
row2 -2.487480  0.788173  0.728980  0.035637  0.391909
row3 -0.276028  0.308844 -0.475283  0.150669  0.301340
row4 -0.707920  0.370586  0.285517  2.266225 -0.080021

In [41]:
df3.drop('row3',axis=0,inplace=True)

In [42]:
print(df3)

          col1      col2      col3      col4      col5
row0 -0.713718 -1.116744  0.849665 -0.032730 -0.303801
row1  0.366118  2.336399 -0.107381 -1.028551  0.730418
row2 -2.487480  0.788173  0.728980  0.035637  0.391909
row4 -0.707920  0.370586  0.285517  2.266225 -0.080021

In [43]:
df3.reset_index(inplace=True) #removes or corrects index labels

In [44]:
print(df3) #corrects index labels

  index      col1      col2      col3      col4      col5
0  row0 -0.713718 -1.116744  0.849665 -0.032730 -0.303801
1  row1  0.366118  2.336399 -0.107381 -1.028551  0.730418
2  row2 -2.487480  0.788173  0.728980  0.035637  0.391909
3  row4 -0.707920  0.370586  0.285517  2.266225 -0.080021

In [45]:
df3['new']=['one','two','three','four']

In [46]:
df3.set_index('new',inplace=True) #assigning new index labels

In [47]:
print(df3)

      index      col1      col2      col3      col4      col5
new
one    row0 -0.713718 -1.116744  0.849665 -0.032730 -0.303801
two    row1  0.366118  2.336399 -0.107381 -1.028551  0.730418
three  row2 -2.487480  0.788173  0.728980  0.035637  0.391909
four   row4 -0.707920  0.370586  0.285517  2.266225 -0.080021

In [48]:
#combine data frames
#Concat
#join
#merge

In [52]:
df4=pd.DataFrame({'customer':['a','b','c','d'],'sales':
                 [123,52,34,105],'category':['cat1','cat1','cat2',
                                            'cat2'],'important':
                  ['yes','no','no','yes']},index=[1,2,3,4])

In [53]:
print(df4)

  customer  sales category important
1        a    123     cat1       yes
2        b     52     cat1        no
3        c     34     cat2        no
4        d    105     cat2       yes

In [54]:
df5=pd.DataFrame({'customer':['e','f','g','h'],'color':[
    'yellow','red','yellow','blue'],'sales':[10,20,30,40],
                 'distance':[200,123,45,5]},index=[5,6,7,8])

In [55]:
print(df5)

  customer   color  sales  distance
5        e  yellow     10       200
6        f     red     20       123
7        g  yellow     30        45
8        h    blue     40         5

In [56]:
pd.concat([df4,df5],axis=0)

  customer  sales category important   color  distance
1        a    123     cat1       yes     NaN       NaN
2        b     52     cat1        no     NaN       NaN
3        c     34     cat2        no     NaN       NaN
4        d    105     cat2       yes     NaN       NaN
5        e     10      NaN       NaN  yellow     200.0
6        f     20      NaN       NaN     red     123.0
7        g     30      NaN       NaN  yellow      45.0
8        h     40      NaN       NaN    blue       5.0

In [57]:
pd.concat([df4,df5],axis=1)

  customer  sales category important customer   color  sales  distance
1        a  123.0     cat1       yes      NaN     NaN    NaN       NaN
2        b   52.0     cat1        no      NaN     NaN    NaN       NaN
3        c   34.0     cat2        no      NaN     NaN    NaN       NaN
4        d  105.0     cat2       yes      NaN     NaN    NaN       NaN
5      NaN    NaN      NaN       NaN        e  yellow   10.0     200.0
6      NaN    NaN      NaN       NaN        f     red   20.0     123.0
7      NaN    NaN      NaN       NaN        g  yellow   30.0      45.0
8      NaN    NaN      NaN       NaN        h    blue   40.0       5.0

In [58]:
#merge-----combining the data frame using column values to identify common data entries
#join------combines data frame using index (row)

In [59]:
#merge

In [61]:
pd.merge(df4,df5,how='inner',on='customer')

Empty DataFrame
Columns: [customer, sales_x, category, important, color, sales_y, distance]
Index: []

In [62]:
pd.merge(df4,df5,how='outer',on='customer')

  customer  sales_x category important   color  sales_y  distance
0        a    123.0     cat1       yes     NaN      NaN       NaN
1        b     52.0     cat1        no     NaN      NaN       NaN
2        c     34.0     cat2        no     NaN      NaN       NaN
3        d    105.0     cat2       yes     NaN      NaN       NaN
4        e      NaN      NaN       NaN  yellow     10.0     200.0
5        f      NaN      NaN       NaN     red     20.0     123.0
6        g      NaN      NaN       NaN  yellow     30.0      45.0
7        h      NaN      NaN       NaN    blue     40.0       5.0

In [63]:
pd.merge(df4,df5,how='right',on='customer')

  customer  sales_x category important   color  sales_y  distance
0        e      NaN      NaN       NaN  yellow       10       200
1        f      NaN      NaN       NaN     red       20       123
2        g      NaN      NaN       NaN  yellow       30        45
3        h      NaN      NaN       NaN    blue       40         5

In [64]:
pd.merge(df4,df5,how='left',on='customer')

  customer  sales_x category important color  sales_y  distance
0        a      123     cat1       yes   NaN      NaN       NaN
1        b       52     cat1        no   NaN      NaN       NaN
2        c       34     cat2        no   NaN      NaN       NaN
3        d      105     cat2       yes   NaN      NaN       NaN

In [65]:
#join

In [66]:
df6=pd.DataFrame({'Q1':[1,2,3],'Q2':[4,5,6]},index=['a','b','c'])

In [68]:
df7=pd.DataFrame({'Q3':[7,8,9],'Q4':[4,6,8]},index=['a','b','c'])

In [69]:
df6.join(df7,how='inner')

   Q1  Q2  Q3  Q4
a   1   4   7   4
b   2   5   8   6
c   3   6   9   8

In [70]:
df6.join(df7,how='right')

   Q1  Q2  Q3  Q4
a   1   4   7   4
b   2   5   8   6
c   3   6   9   8

In [71]:
print(df5)

  customer   color  sales  distance
5        e  yellow     10       200
6        f     red     20       123
7        g  yellow     30        45
8        h    blue     40         5

In [73]:
df5['color'].unique()

array(['yellow', 'red', 'blue'], dtype=object)

In [74]:
df5['color'].value_counts()

yellow    2
red       1
blue      1
Name: color, dtype: int64

In [75]:
df5['distance'].mean()

93.25

In [76]:
df5['distance'].sum()

373

In [77]:
df5['distance'].max()

200

In [79]:
df5['distance'].min()

5

In [80]:
def f(x):
    return x**2

In [81]:
df5['distance'].apply(f)

5    40000
6    15129
7     2025
8       25
Name: distance, dtype: int64

In [85]:
df8=pd.DataFrame({'A':['a1','a1','a2','a2','a3','a3'],'B':
                 [1,2,3,4,5,6],'C':[10,20,30,40,50,60]},index=['I1'
                                                              ,'I2'
                                                              ,'I3'
                                                              ,'I4'
                                                              ,'I5'
                                                              ,'I6'])

In [86]:
print(df8)

     A  B   C
I1  a1  1  10
I2  a1  2  20
I3  a2  3  30
I4  a2  4  40
I5  a3  5  50
I6  a3  6  60

In [87]:
group_data=df8.groupby('A')

In [88]:
print(group_data)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000002DD9965E2E0>

In [89]:
group_data.mean()

      B     C
A
a1  1.5  15.0
a2  3.5  35.0
a3  5.5  55.0

In [90]:
df5.to_csv('sample_data.csv',index=True)

In [95]:
d=pd.read_csv('sample_data.csv')

In [96]:
print(d)

   Unnamed: 0 customer   color  sales  distance
0           5        e  yellow     10       200
1           6        f     red     20       123
2           7        g  yellow     30        45
3           8        h    blue     40         5

In [97]:
d=pd.read_csv('sample_data.csv',index_col=0)

In [98]:
print(d)

  customer   color  sales  distance
5        e  yellow     10       200
6        f     red     20       123
7        g  yellow     30        45
8        h    blue     40         5

In [100]:
df5.to_excel('sample_data.xlsx',index=False)

In [104]:
d=pd.read_excel('sample_data.xlsx')

In [105]:
print(d)

  customer   color  sales  distance
0        e  yellow     10       200
1        f     red     20       123
2        g  yellow     30        45
3        h    blue     40         5